
aside{
    width: auto;
    margin: 0px;
    border: solid 0.8px;
    padding: 0%;
    background-color:lightblue;
    color: black;

}
aside img{
    width: 200px;
    height: auto;
}
main img{
    width: 200px;
    height: auto;    
    padding: 0px;
    border-radius: 150px; 
}
footer{
    margin-top: 15px;
    border-top: 23px;
    text-align: center;
}
p{
    padding: 0;
}
